<launch>
    <arg name="odom_topic" default="/odometry/filtered"/>

    <include file="$(find kwj_description)/launch/gazebo.launch" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find kwj_navigation)/map/carto_map.yaml"/>
  
    <include file="$(find kwj_navigation)/launch/amcl.launch" />

    <node pkg="kwj_localization" type="cmd_vel_to_odom" name="cmd_vel_to_odom"/>
     
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_sensor_fusion_node" clear_params="true">
      <rosparam file="$(find kwj_localization)/config/ekf.yaml" command="load"/>
    </node>
   
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> 
   <param name="base_local_planner" value="mpc_ros/MPCPlannerROS"/>
   <param name="base_global_planner" value="navfn/NavfnROS"/>
    <rosparam file="$(find kwj_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find kwj_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kwj_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kwj_navigation)/param/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find kwj_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find mpc_ros)/params/mpc_last_params.yaml" command="load" />
  </node>
   
  
  <!-- Run Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kwj_navigation)/rviz/rviz.rviz" /> 

</launch> 
