<launch>  
   <!--<include file="$(find kwj_bringup)/launch/kwj_bringup.launch" />-->
   
    <include file="$(find kwj_description)/launch/gazebo.launch"/> 

    <node pkg="kwj_localization" type="odom_pub" name="odom_pub"/>

   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom"   clear_params="true">
    <rosparam file="$(find kwj_localization)/config/ekf.yaml" command="load"/>
   </node>

   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kwj_localization)/rviz/odom_test.rviz" /> 

  <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen">
    <param name="subscribe_depth" value="true"/>
    <param name="subscribe_scan" value="false"/>
    <param name="subscribe_stereo" value="true"/>
    <param name="frame_id" value="base_link"/>
    <param name="approx_sync" value="true"/>

    <!-- Parameters for SLAM and localization -->
    <param name="Mem/IncrementalMemory" value="true"/>
    <param name="RGBD/OptimizeFromGraphEnd" value="true"/>
  </node>

  <!-- Visualizer -->
  <node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz" output="screen">
    <param name="frame_id" value="base_link"/>
    <param name="subscribe_depth" value="true"/>
    <param name="subscribe_stereo" value="true"/>
  </node>

</launch>
